
/*================================================= INDEX.php =====================================================*/

/* Header/Parallax */
.parallax{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url(../img/Src/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}

.mixBlnd{
	background-blend-mode: screen;
}

.tamImg{
	background-blend-mode: screen;
}
/* Sections */
.maxAlt{
	margin-top: 20px;
}
.maxAlt h1{
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 65px;
	font-kerning: auto;
}
.maxAlt h5{
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-kerning: auto;
}

.Fading::after{
	content  : "";
	position : absolute;
	z-index  : 1;
	bottom   : 0;
	left     : 0;
	pointer-events   : none;
	background-image : linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 70%);
	width    : 100%;
	height   : 4em;
}
.imgFade::after{
	content  : "";
	position : absolute;
	z-index  : 1;

	bottom   : 0;
	left     : 0;
	width: 100%;
	height: 100%;

	box-sizing: border-box;
	box-shadow: inset 40px 0 20px 20px #FFF;
}

.sizeText{
	font-family: 'Dosis' bold;
}

.sizeText h1{
	font-size: 35px;
	transform: translateY(50%);
}

.sizeText_S2{
	font-size: 40px;
}

.p{
	font-size: 20px;
}

.sizeImagem img{
	width: 70%;
}

/* Footer */
.CorBack{
	background-color:#1a1327;
}

.CorText{
	color:white;
}

.CorBack1{
	background-color:#37164a;
}

.button{
	position: absolute;
	transform: translate(50% , 50%);
	width: 80px;
	height: 75px;
	border-radius: 50%;
}
/*=============================================== INDEX.php END ====================================================*/

/*=============================================== HOMEPAGE.php ======================================================*/

.html{
	scroll-behavior: smooth;
}

.slide{
	width: 100vw;
	height: 100vh;
}

.Wrapper{
	display: flex;
	flex-direction: row;
	width: 200vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}

.Home{
	background: #37164a;
}

.Center{
	background-color: #1b0f2f;

}
.outerWrapper{
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

}
::-webkit-scrollbar{
	display: none;
}

/* Page Home */

.sidenav {
	height: 100%;
	width: 4.2vw;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #1a1327;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 5px 6px 5px 9px;
	text-decoration: none;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	background-color: #fbd7fb;
}

.main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

.perfilHome{
	margin-top: 3vw;
}

.perfilHist{
	margin-top: 2vw;
}

.perfilIco{
	margin-top: 23vw;
}

/* Home and home Itens */
#Home {
	background-color: #472880;
	width: 95.99vw;
	height: 100vh;
	margin-left: 4vw;
}

.h3_Nov{
	color: white;
	position: absolute;
	top: 13%;
	left: 11%;
	font-size: 1.8rem;
}

.h3_Mod{
	color: white;
	position: absolute;
	top: 13%;
	left: 33%;
	font-size: 1.8rem;
}

.elementHome_second{
    background-color: #1a1327;
    position: absolute;
    transform: translate(-50% , -50%); /*Primeiro parâmetro é o X e o segundo é o Y*/
    left: 13.0%;
	top: 58%;
	width: 80vh;
    height: 75vh;
    line-height: 200px; /*deixa a altura do texto centralizado */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.carousel{
	position: absolute;
	width: 80vh;
    height: 75vh;
	left: -14px;
	margin: 0;
}

.elementHome_header{
	background-color: #2d2143;
	position: absolute;
	transform: translate(-50% , -50%);
	top: 0%;
	left: 0%;
	width: 100%;
    height: 25vh;
    line-height: 40px;
    cursor: pointer;
}

.elementHome_header h1{
	color: #fff;
    text-transform: uppercase;
    text-align: center;
	font-size: 15px;
	position: absolute;
	top: 58%;
	left: 55%;
}

.elementHome_first{
	background-color: #1a1327;
	position: absolute;
	transform: translate(-50% , -50%);
	top: 31%;
	left: 34%;
	width: 70vh;
    height: 20vh;
    line-height: 40px; /*deixa a altura do texto centralizado */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.elementHome_third{
	background-color: #1a1327;
	position: absolute;
	transform: translate(-50% , -50%);
	left: 34%;
	top: 57%;
	width: 70vh;
    height: 20vh;
    line-height: 200px; /*deixa a altura do texto centralizado */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.elementHome_forth{
	background-color: #1a1327;
	position: absolute;
	transform: translate(-50% , -50%);
	left: 34%;
	top: 85%;
	width: 70vh;
    height: 20vh;
    line-height: 200px; /*deixa a altura do texto centralizado */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}


#Hist {
	background-color: #37164a;
	width: 95.99vw;
	height: 100vh;
	margin-left: 4vw;
}

.elementStats_primary{
	background-color: #818181;
	position: absolute;
	transform: translate(-50% , -50%);
	left: 10%;
	top: 27%;
	width: 97vh;
    height: 43.5vh;
    line-height: 200px; /*deixa a altura do texto centralizado */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

#piechart_3d{
	margin-left: 90px;
	margin-top: 45px;
	width: 100vw;
	height: 100vh;
}

.elementStats_second{
	background-color: #818181;
	position: absolute;
	transform: translate(-50% , -50%);
	left: 10%;
	top: 75%;
	width: 97vh;
    height: 40vh;
    line-height: 200px; /*deixa a altura do texto centralizado */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.elementStats_third{
	background-color: #818181;
	position: absolute;
	transform: translate(-50% , -50%);
	left: 24.8%;
	top: 50%;
	width: 84vh;
    height: 90vh;
    line-height: 200px; /*deixa a altura do texto centralizado */
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

#Perfil {
	background-color: blue;
	width: 95.99vw;
	height: 100vh;
	margin-left: 4vw;
}

#piechart_3d{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 78%;
	top: 0%;

}

.Perfil{
	width: 300px;
	height: 300px;
	background-color: white;
	margin-left: 0.5vw;
	margin-top: 0.5vw;
}
.Perfil img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.PerfilHover{
	width: 300px;
	height: 300px;
	opacity: 0.0;
	position: absolute;
	top: 0%;
	margin-top: 8px;
}

.PerfilHover:hover{
	opacity: 1;
	transition-delay: 250ms;
	background-color: rgba(0, 0, 0, .6);
	/* position: absolute; */
}

.PerfilHover button{
	border: none;
	background: transparent;
	outline: none;
}

.PerfilHover p	{
	margin-left: 87px;
	color: white;
}

.infoUser hr{
	width: 21%;
	margin-right: 78%;
}

.userName{
	font-size: 2.2rem;
	margin-left: 2vw;
	margin-top: 1vw;
	margin-bottom: 0;
	color: white;
}

.userFirst{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-bottom: 0;
	color: white;
}

.userEmail{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-bottom: 0;
	color: white;
}

.userTel{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-bottom: 0;
	color: white;
}

.userTeam{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-bottom: 0;
	color: white;
}

.userEmail2{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-bottom: 20px;
	margin-top: 2px;
	color: white;
}

.userTel2{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-bottom: 20px;
	margin-top: 2px;
	color: white;
}

.userTeam2{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-bottom: 20px;
	margin-top: 2px;
	color: white;
}

.centerHist{
	position: absolute;
	height: 100vh;
	width: 50vw;
	background-color: #fff;
	top: 0%;
	left: 63%;
}

/*============================================= HOMEPAGE.php END ====================================================*/

/*================================================== LOGIN.php ======================================================*/

.bodyLogin{
	margin: 0;
	padding: 0;
	background: url(../img/Src/background.png);
	background-size: cover;
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	padding: 40px;
	background: rgba(0, 0, 0, .6);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.box h2{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox{
	position: relative;
}

.box .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
	top: -20px;
	left: 0;
	color: #8f34ad;
	font-size: 12px;
}

.buttonLogin{
	background: transparent;
	border: none;
	text-align: center;
	color:white;
}
.textDec {
	text-decoration: none;
	color: white;
}
.textDec:hover {
	text-decoration: none;
	color: #925EFF;
}
.buttonLogin:hover{
	color: #925EFF;
}

/*================================================= LOGIN.php END ===================================================*/


/*================================================= LOGIN.php END ===================================================*/
