body{
	margin: 0;
	padding: 0;
}

.parallax{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url(../img/teste/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
}

.mixBlnd{
	background-blend-mode: screen;
}

.tamImg{
	background-blend-mode: screen;
}

.maxAlt{
	margin-top: 20px;
}
.maxAlt h1{
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 65px;
	font-kerning: auto;
}

.sizeText{
	font-family: 'Dosis' bold;
	
}

.sizeText h1{
	font-size: 35px;
	transform: translateY(50%);
}

.sizeImagem img{
	width: 70%;
}


